<nav class="main-navbar">
    <ul>
        <a href="/#/home"><li>Home</li></a>
        <a href="/#/about"><li>About</li></a>
    </ul>
</nav>

<aside class="frontpage-sidebar">

    <section>
        <header>Recent posts</header>
        <span>Article 1</span>
        <span>Article 2</span>
    </section>

    <section>
        <header>Categories</header>
        <span>Category 1</span>
        <span>Category 2</span>
    </section>

    <section>
        <img src="/templates/img/chihuahua.jpg">
    </section>

</aside>

<main class="content-view">